*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../visual/fondo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 250vh;
    font-family: 'Roboto'; font-size: 22px;
}

h2{
    text-align: center;
    font-size: 40px;
    font-family: arial;
    margin-top: 80px;
    color: aqua;
    text-shadow: 0px 0px 6px black;
}




.contenedor{
    width: 1080px;
    margin: auto;
    color: white;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.8);
}

.contenedor .titulo{
    font-size: 3.5ex;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
}
/*tamaño de la letra*/
#pestanas {
    float: top;
    font-size: 3ex;
    font-weight: bold;
}

#pestanas ul{
    margin-left: -40px;    
}

#pestanas li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: darkgrey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid white;
    border-bottom: dimgray;
    padding: 0px 20px 0px 20px;
}

#pestanas a:link{
    text-decoration: none;
    color: white;
}
/*el borde del contenido*/
#contenidopestanas{
    clear: both;  
    background: dimgray;

    border-radius: 5px;
    border-top-left-radius: 0px;
    border: 2px solid white;
    width: 1025px;
}

#contenidopestanas div{
    padding: 20px 0px 20px 20px;
}
/**Contenido de la pasteña*/
#pestanas #pestana1, #cpestana1{
    background: #047;
}

#pestanas #pestana2, #cpestana2{
    background: #677da3;
}

#pestanas #pestana3, #cpestana3{
    background: #677da3;
}

#pestanas #pestana4, #cpestana4{
    background: #677da3;
}

#th {
    text-align: center;
}



div.ot-footer{
    background: url('tu_ruta/imagen0.png') no-repeat center center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
